// Place all the styles related to the timer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Helvetica, Verdana, Arial, Sans-Serif;
  background: #EEE;
}

section.main-section {
  background-color: #FFF;
  padding: 4px;
}